.invisible {
  display: none;
}

.searchContainer {
  position: fixed;
  top: 24px;
  right: 24px;
}

input {
  border-radius: 5px;
}

.banner {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 3em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.banner:hover,
.openMenuButton {
  cursor: default;
}

.headerContainer {
  text-align: center;
}

.openMenuButton {
  margin: 20px;
  float: left;
  display: inline;
}

.contactAddress,
.colorClick {
  transition-property: color;
  transition-duration: .75s;
  transition-timing-function: ease-out;
}

.nowPlaying {
  transition-property: color;
  transition-duration: 4s;
  transition-timing-function: ease-out
}

.colorClick:hover {
  color: darkslategray;
  cursor: default;
  transition-property: color;
  transition-duration: .25s;
  transition-timing-function: ease-out;
}

.colorClick:active,
.nowPlaying:hover,
.banner:hover,
.contactAddress:hover,
.isPlaying {
  color: #FA5555;
}

.menuContainer {
  position: fixed;
  z-index: 1;
  top: 76px;
  left: 0px;
  width: 240px;
  height: 100vw;
  background-color: rgba(255, 255, 255, .7);
  border-top: 6px solid rgba(0, 0, 0, .85);
  border-right: 6px solid rgba(0, 0, 0, .85);
  border-bottom: 6px solid rgba(0, 0, 0, .85);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition-property: transform;
  transition-duration: .7s;
  transition-timing-function: ease-out;
}

.menuContent {
  padding-top: 50px;
  padding-left: 25px;
}

.menuContent > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5em;
}

.menuHide {
  transform: translate3d(-100vw, 0, 0);
}

.menuShow {
  transform: translate3d(0, 0, 0);
}

.closeMenuButton {
  position: absolute;
  right: 20px;
  top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: rgba(0, 0, 0, .85);
}

.albumArt {
  padding: 20px;
  height: 180px;
  width: 180px;
  border-radius: 8px;
  display: inline;
}

.postBody {
  display: inline-block;
  float: left;
  width: 100%;
}

.trackCard {
  position: relative;
  display: flex;
  border: 5px solid transparent;
  border-image: linear-gradient(to left, darkslategray 80%, #FF5555) 10;
  margin: 10px;
  height: 220px;
}

.trackCard:hover {
  display: flex;
  border: 5px solid transparent;
  border-image: linear-gradient(to left, darkslategray 30%, #FF5555) 10;
  margin: 10px;
  height: 220px;

}

.audioControls {
  display: inline;
  padding-left: 17px;
  padding-right: 17px;
}


.player {
  text-align: center;
  border-radius: 8px;
  background: black;
  color: white;
  align-self: center;
}

.nowPlaying {
  margin-bottom: 0;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
}

.titleGlow {
  color: #FA5555;
}

.playerControls {
  background: white;
  color: black;
  border: 6px solid black;
  border-radius: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
}

.playerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlistContainer {
  width: 80vw;
}

.playlistPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 20px;
}

.loginPage,
.contactPage,
.adminPage,
.registrationPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.adminPage,
.playlistPage {
  flex-direction: column;
}

.playlistContainer,
.loginContainer,
.contactContainer,
.adminContainer,
.registrationContainer {
  align-self: center;
}

.contactContainer > h2 {
  margin: 0;
}

.adminContainer > form > div > input,
.loginContainer > form > div > input,
.registrationContainer > form > div > input {
  padding: 2px;
  margin-bottom: 6px;
}

.adminPage {
  margin-top: 40px;
  height: 100%;
}

.adminContainer {
  margin: 20px;
}

.adminContainer,
.loginContainer,
.registrationContainer {
  border: 4px solid black;
  border-radius: 8px;
  padding: 15px;
}

h2 {
  margin-top: 0;
}

.currentTrack {
  animation: activePulse 5s infinite;
}

@keyframes activePulse {
  0% {
    border: 5px solid black;
  }
  7% {
    border: 5px solid darkslategray;
  }
  35% {
    border: 5px solid #FF5555;
  }
  65% {
    border: 5px solid #FF5555;
  }
  93% {
    border: 5px solid darkslategray;
  }
  100% {
    border: 5px solid black;
  }
}


.waitingContainer,
.errorContainer,
.successContainer {
  border: 2px solid black;
  background-color: #5cb85c;
  border-radius: 4px;
  text-align: center;
  margin-top: 8px;
  padding-top: .3em;
  padding-bottom: .3em;
  width: 100%;
  height: 100%;
}

.waitingContainer {
  background-color: palegoldenrod;
}


.errorContainer {
  background-color: #BF7877;
}

.successContainer {
  background-color: #5cb85c;
}

.postEditButton,
.postDeleteButton {
  display: inline-block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  color: rgba(0, 0, 0, .85);
}

.postButtonsContainer {
  position: absolute;
  top: 20px;
  right: 20px;
}

.postDeleteButton,
.postEditButton {
  display: inline-block;
}

.postEditButton {
  padding-right: 5px;
}

.postAuthor {
  position: absolute;
  bottom: 20px;
  right: 20px;
  margin: 0;
}

.redButton {
  width: 50%;
  color: red;
  padding-top: 8px;
  padding-bottom: 8px;
}

.greenButton {
  width: 50%;
  color: green;
  padding-top: 8px;
  padding-bottom: 8px;
}

.areYouSure {
  margin-top: 20px;
}